nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;

  list-style: none;
  font-weight: bold;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: grey;
  margin: 30px;
  border-radius: 30px;
}

.content-header {
  color: white;
  text-transform: capitalize;
}